{% extends "layout.html" %} {% block title %} Grocery Order {% endblock %} {%
block content %}
<style>
  input[type="text"] {
    width: 20%;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0 auto;
  }
  #p1 {
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 40pt;
    font-weight: bold;
    color: black;
    background-color: lightskyblue;
  }
  #p2 {
    text-align: center;
    color: black;
  }
  h1.blink {
    animation: 1s blinker linear infinite;
    -webkit-animation: 1s blinker linear infinite;
    -moz-animation: 1s blinker linear infinite;
  }
  #p3 {
    color: black;
    font-weight: bold;
    font-size: 150%;
  }
  img.headericon {
    float: left;
    border: solid;
    border-color: black;
    border-width: 3px;
    margin-right: 5px;
  }
  @-moz-keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #p5 {
    text-align: center;
    background-color: lightskyblue;
    color: black;
    font-style: italic;
    font-weight: bolder;
  }
  .groceryitemInput {
    padding: 1%;
  }
</style>
<div id="p1">
  <p>Health Care Activities Grocery Ordering<br /></p>
</div>
<div id="p2">
  <h1 class="blink">Order Your Groceries Here!</h1>
</div>
<div>
  <form>
    <div class="groceryitemInput">
      <input type="text" name="item1" placeholder="Grocery Item #1" />
    </div>
    <div class="groceryitemInput">
      <input type="text" name="item2" placeholder="Grocery Item #2" />
    </div>
    <div class="groceryitemInput">
      <input type="text" name="item3" placeholder="Grocery Item #3" />
    </div>
    <div class="groceryitemInput">
      <input type="text" name="item4" placeholder="Grocery Item #4" />
    </div>
    <div class="groceryitemInput">
      <input type="text" name="item5" placeholder="Grocery Item #5" />
    </div>
    <div class="groceryitemInput">
      <input type="text" name="item6" placeholder="Grocery Item #6" />
    </div>
    <div class="groceryitemInput">
      <input type="text" name="item7" placeholder="Grocery Item #7" />
    </div>
    <div class="groceryitemInput">
      <input type="text" name="item8" placeholder="Grocery Item #8" />
    </div>
    <div class="groceryitemInput">
      <input type="text" name="item9" placeholder="Grocery Item #9" />
    </div>
    <div class="groceryitemInput">
      <input type="text" name="item10" placeholder="Grocery Item #10" />
    </div>
    <br /><br />
    <input type="submit" value="Register" />
    <input type="reset" value="Reset" />
  </form>
</div>
<div id="p5">
  <p>
    Copyright © Pencil Pushers<br /><br />

    <a href="https://www.google.com">Home</a><br />
    <a href="https://www.google.com">Medical</a><br />
    <a href="https://www.google.com">About Us</a><br />
    <a href="https://www.google.com">Contact Us</a><br />
  </p>
</div>
{% endblock %}
